*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
node_modules
test_out/
out/
.DS_Store
coverage/**/*
npm-debug.log*
dist
.idea/
lib
unit.xml
.project
.npmrc
/.metadata/
target
coverage
.vscode/
.nyc_output/
